body {background-color :#d32020;
    color: #e61e1e;
}

#titulo {
  color: #8C3503;
  text-align:center;
  font-size: 40px;
}
.texto1 {
  color: #8C3503;
  text-align:justify;
  font-size: 28px;
  font-family:sharingam;
}

.texto2 {
color: #8C3503;
text-align:justify;
font-size: 38px;
font-family:sharingam;
}
